.train {
    background-color: #eeeeee;
}

.masters {
    background-color: white;
}

.title.masters {
    color: #006747;
}

.subtitle.masters {
    color: black;
}

a.masters {
    color: #006747;
}

.link-icon {
    margin-left: 5px;
    margin-right: 5px;
}

.open-source {
    background-color:#24292e;
}

.welcome {
    background-color: dodgerblue;
}

.title.welcome, .subtitle.welcome {
    color: whitesmoke;
}

.title.open-source, .subtitle.open-source {
    color: whitesmoke;
}

.train-input {
    border-bottom-color: cornflowerblue;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    outline-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 150px;
    color: cornflowerblue;
    caret-color: cornflowerblue;
    width: auto;
    text-indent: 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: cornflowerblue;
  opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: cornflowerblue;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: cornflowerblue;
}

.train-solution {
    color: lightseagreen;
}

.train-no-solution {
    color: crimson;
}

/* Westpac */
div.westpac {
    background-color: red;
}

p.westpac {
  color: whitesmoke;
}

.title.westpac, .subtitle.westpac {
  color: whitesmoke;
}

/* Coffee Better */
div.coffee-better {
    background-color: #7c3810;
}

p.coffee-better {
  color: whitesmoke;
}

.title.coffee-better, .subtitle.coffee-better {
  color: whitesmoke;
}

/* Policy Pilot */
div.policy-pilot {
    background-color: whitesmoke;
}

p.policy-pilot {
  color: black;
}

.title.policy-pilot, .subtitle.policy-pilot {
  color: black;
}

/* Recent work cards */
.work-card {
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
